venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.pytest_cache/

# Data folders
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
